@media (max-width:768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .menu {
        display: block;
        position: absolute;
        top: 40%;
        right: 3%;
        font-size: 1.6em;
        color: white;
    }

    .logo h2 {
        font-size: 40px;
        color: white;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        margin-top: 35px;
    }

    .lists {
        padding: 0;
        display: none;
    }

    .btn01 {
        height: 50px;
        bottom: 0;
        right: 0;
        position: absolute;
        display: none;
        flex-direction: column;
    }

    .banner {
        background-image: url("./images/banner-main.jpg");
        max-width: 100%;
        height: 95vh;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .details {
        width: 300px;
        position: absolute;
        top: 35%;
        left: 2%;
        text-transform: uppercase;
    }

    .details h4 {
        color: white;
        font-style: italic;
        font-size: 0.7em;
        margin: 5px;
    }

    .details h2 {
        color: white;
        font-size: 18px;
        margin: 5px 5px;
        font-family: "Source Sans Pro", sans-serif;
        font-style: italic;
    }

    .offers {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        height: auto;
        /* display: flex; */
        /* justify-content: space-evenly; */
    }

    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 15px;
        margin-top: 20px;
    }

    .container .items {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        margin: 0.5em;
        min-width: 300px;
        height: 150px;
        background-color: #f8f9fa;
        box-shadow: 2px 10px 20px 2px rgba(140, 147, 152, 0.623);
    }

    .items .content h4 {
        font-size: 18px;
    }

    #new-arrival {
        margin-top: 15px;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .container-02 .shoes {
        min-width: 250px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-content: center;
        box-sizing: border-box;
        border: 1px solid rgb(211, 211, 211);
        background-color: white;
    }

    .shoes img {
        width: 250px;
        height: 200px;
    }

    .shoes .names {
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .price {
        max-width: 210px;
        display: flex;
        justify-content: space-evenly;
    }

    .container-02 h1 {
        font-size: 25px;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
    }

    /* productdisplay page */
    .header {
        background-image: url("./images/productimg-01.jpg");
        height: 300px;
        background-position: center;
        background-size: cover;
        position: relative;
    }


    .display-prod {
        min-width: 100%;
        width: 900px;
        height: 100dvh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .container-03 {
        min-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        /* justify-content: space-between; */
        /* background-color: aqua; */
    }

    .display-prod .search {
        min-width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        /* margin-top: 50px; */
        /* background-color: #11a6fc; */
    }

    .mens h1 {
        text-align: center;
        font-size: 20px;
        position: absolute;
        left: 0;
        margin: 0;
    }

    .searchbox input {
        padding: 15px;
        min-width: 300px;
    }

    .varites {
        width: 200px;
    }

    .display-prod .product-info {
        width: 95%;
        height: auto;
        margin: 50px 0;
        display: flex;
        flex-wrap: wrap;
        /* align-content: center; */
        justify-content: center;
        /* background-color: #ff6674; */
    }

    .product-info .information {
        margin: 0 0 0 20px;
        box-sizing: border-box;
        width: 400px;
        height: auto;
    }

    .formemail form button {
        position: absolute;
        right: 37px;
        top: 20px;
        padding: 16px;
        width: 100px;
        text-transform: uppercase;
        background: #1e272e;
        color: #e2352f;
    }

    .para {
        width: 350px;
        height: auto;
        text-align: justify;
        margin: 0;
    }

    .para h3 {
        margin: 0 0 10px 20px;
        font-size: 20px;
    }

    .para p {
        margin: 0 20px;
        font-size: 1.1em;
        line-height: 1.6em;
        font-family: Lato, sans-serif;
        color: #959499;
    }

    .discripitions p {
        font-size: 10px;
        color: #959499;
        text-transform: capitalize;
    }

    .product-info .productshow {
        width: 300px;
        height: auto;
        border: 1px solid #bbb9b9;
    }

    .product-info img {
        width: 310px;
        height: auto;
    }
}