@media (max-width:768px) {
    /* .navbar {

        display: none;

    } */

    #mobilemenu {
        display: none;

    }

    #mobilemenu.active {
        display: block;
        position: fixed;
        width: 60%;
        height: 100vh;
        background-color: #1e272e;
    }

    .menu {
        display: flex;
        position: absolute;
        z-index: 100;
        top: 8%;
        right: 3%;
        font-size: 1.6em;
        color: rgb(248, 245, 245);
    }


    .logo h2 {
        display: none;
        font-size: 30px;
        color: white;
    }

    .links {
        display: flex;
        /* justify-content: flex-end; */
        flex-direction: column;
        list-style-type: none;

    }

    .links a {
        font-size: 1.3em;
    }

    .lists {
        display: flex;
        padding: 0;

    }

    .btn01 {
        height: 100px;
        top: 70%;
        right: 30%;
        position: absolute;
        display: flex;
        gap: 20px;
        flex-direction: column-reverse;
        align-content: space-evenly;
        justify-content: center;
    }

    .banner {
        background-image: url("./images/banner-main.jpg");
        min-width: 100%;
        height: 60vh;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .details {
        width: 300px;
        position: absolute;
        top: 35%;
        left: 2%;
        text-transform: uppercase;
    }

    .details h4 {
        color: white;
        font-style: italic;
        font-size: 0.7em;
        margin: 5px;
    }

    .details h2 {
        color: white;
        font-size: 18px;
        margin: 5px 5px;
        font-family: "Source Sans Pro", sans-serif;
        font-style: italic;
    }

    .offers {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        height: auto;
        /* display: flex; */
        /* justify-content: space-evenly; */
    }

    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        gap: 15px;
        margin-top: 20px;
    }

    .container .items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0.5em;
        min-width: 300px;
        width: 350px;
        height: 150px;
        background-color: #f8f9fa;
        box-shadow: 2px 10px 20px 2px rgba(140, 147, 152, 0.296);
    }

    .items .content h4 {
        font-size: 1em;
        margin: 0 10px 20px;
    }

    .items i {
        margin-left: 5px;
    }

    #new-arrival {
        margin-top: 15px;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .container-02 .shoes {
        min-width: 250px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-content: center;
        box-sizing: border-box;
        border: 1px solid rgb(211, 211, 211);
        background-color: white;
    }

    .shoes img {
        width: 250px;
        height: 200px;
    }

    .shoes .names {
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .price {
        max-width: 210px;
        display: flex;
        justify-content: space-evenly;
    }

    .container-02 h1 {
        font-size: 25px;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
    }

    /* sign up */
    .signupcontent .heading span {
        color: white;
        position: absolute;
        right: 20px;
        top: 30px;
        cursor: pointer;
    }

    #signupbtn {
        margin: 8px 0 0 10px;
        width: 200px;
        background-color: #11a6fc;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 17px;
        cursor: pointer;
        align-self: center;
    }

    .signupcontent form {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 300px;
        height: 450px;
        position: relative;
    }

    .signupcontent label {
        padding: 0;
        margin: 5px 30px;
    }

    .signupcontent {
        width: 300px;
        height: 400px;
        border-radius: 10px;
    }

    .signupcontent input {
        width: 250px;
        padding: 8px;
        font-size: 16px;
        margin: 8px 30px;
        color: white;
        border-bottom: 2px solid rgb(255, 255, 255);
    }

    .signupcontent::before {
        width: 300px;
        height: 400px;
    }

    /* login page */
    .btn01 .loginbtn {
        background: linear-gradient(to bottom, #11a6fc, #11a6fc);
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
        border: 1px solid #ccc;
        padding: 8px;
        margin: 5px;
        border-radius: 6px;
        color: white;
        font-size: 18px;
        width: 120px;
        cursor: pointer;
    }

    .logincontent {
        background-image: url(images/banner-01.jpg);
        position: relative;
        width: 300px;
        height: 400px;
        border-radius: 10px;
    }

    .heading {
        position: relative;
    }

    .logincontent .heading h1 {
        color: rgb(243, 245, 246);
    }

    .logincontent .heading span {
        color: white;
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
    }

    .logincontent::before {
        content: "";
        position: absolute;
        background-color: #c2c3c396;
        width: 300px;
        height: 400px;
        border-radius: 10px;
    }

    .logincontent input {
        width: 250px;
        padding: 8px;
        border: none;
        margin: 10px 30px;
        font-size: 16px;
        border-bottom: 2px solid rgb(255, 255, 255);
    }

    .logincontent form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 350px;
        height: 420px;
    }

    .logincontent button {
        align-self: center;
        margin: 30px 0;
        width: 200px;
        border: none;
        color: white;
        cursor: pointer;
        border-radius: 10px;
    }

    /* productdisplay page */
    .header {
        background-image: url("./images/productimg-01.jpg");
        height: 300px;
        background-position: center;
        background-size: cover;
        position: relative;
    }


    .display-prod {
        min-width: 100%;
        width: 900px;
        height: 100dvh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .container-03 {
        min-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        /* justify-content: space-between; */
        /* background-color: aqua; */
    }

    .display-prod .search {
        min-width: 300px;
        width: 320px;
        height: auto;
        flex-direction: column;
        margin: 0;
    }

    .mens h1 {
        text-align: center;
        background-color: #11a6fc;
        padding: 10px;
        font-size: 20px;
        position: absolute;
        left: 0;
        margin: 0;
    }

    .searchbox input {
        padding: 15px;
        min-width: 300px;
    }

    .varites {
        width: 200px;
    }

    .display-prod .product-info {
        width: 95%;
        height: auto;
        margin: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-info .information {
        margin: 0 0 0 20px;
        box-sizing: border-box;
        width: 400px;
        height: auto;
    }

    .formemail form button {
        position: absolute;
        right: 24px;
        top: 20px;
        padding: 16px;
        width: 80px;
        text-align: center;
        text-transform: uppercase;
        background: #1e272e;
        color: #e2352f;
    }

    .para {
        margin: 0 0 0 10px;
        min-width: 300px;
        width: 350px;
        height: auto;
    }

    .para h3 {
        font-size: 1.3em;
    }

    .para p {
        padding: 2px;
        font-size: 1em;
        line-height: 1.8em;
        font-family: sans-serif;
        color: #959499;
        text-align: left;
    }

    .information .discripitions :nth-child(2) {
        font-size: 18px;
        line-height: 2rem;
        color: #959499;
    }

    .product-info .productshow {
        width: 300px;
        height: auto;
        border: 1px solid #bbb9b9;
    }

    .product-info img {
        width: 310px;
        height: auto;
    }

    /* mens page */

    #menspage {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        max-width: 100%;
        width: 100%;
        height: 60vh;
        background: url('images/mens-bannerimg01.jpg') no-repeat center/cover;
        position: relative;
    }

    .menspage div {
        position: absolute;
        width: 100%;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    .menspage .menshead h1 {
        text-align: center;
        color: white;
        font-size: 2em;
        font-style: italic;
    }

    .menshead h1 span {
        color: red;
        font-size: 2.5em;
    }

    .mensconatiner {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: flex-start; */
        width: 60%;
        height: 100vh;
        margin-top: 20px;

    }

    .menscard {
        max-width: 300px;
        border-radius: 10px;
        position: relative;
        height: 250px;
        background-image: url('images/casual-shoes.jpg');
        background-size: cover;
        transition: all 0.3s;
    }
    .menscard:hover {
        transform: translateY(-10px);
    }

    .mensconatiner :nth-child(2) {
        width: 400px;
        height: 250px;
        background-image: url('images/formal-shoes.jpg');
        background-size: cover;
    }

    .mensconatiner :nth-child(3) {
        width: 400px;
        height: 250px;
        background-image: url('images/sports-shoe1.jpg');
        background-size: cover;
    }
}