@media (max-width:767px) {
    .navbar {
        width: 100%;
        height: 80px;
        display: flex;
    }

    /* .menu {
        display: block;
        position: absolute;
        top: 8%;
        right: 3%;
        font-size: 1.6em;
        color: rgb(248, 245, 245);
    } */
    .logo h2 {
        font-size: 30px;
        color: white;
    }

    .links {

        flex-wrap: wrap;
        list-style-type: none;
    }

    .lists {
        display: flex;
        padding: 0;
    }

    .btn01 {
        height: 50px;
        bottom: 0;
        right: 0;
        position: absolute;
        display: none;
        flex-direction: column;
    }

    .banner {
        background-image: url("./images/banner-main.jpg");
        min-width: 100%;
        height: 60vh;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .details {
        width: 300px;
        position: absolute;
        top: 35%;
        left: 2%;
        text-transform: uppercase;
    }

    .details h4 {
        color: white;
        font-style: italic;
        font-size: 0.7em;
        margin: 5px;
    }

    .details h2 {
        color: white;
        font-size: 18px;
        margin: 5px 5px;
        font-family: "Source Sans Pro", sans-serif;
        font-style: italic;
    }

    .offers {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        height: auto;
        /* display: flex; */
        /* justify-content: space-evenly; */
    }

    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        gap: 15px;
        margin-top: 20px;
    }

    .container .items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 0.5em;
        min-width: 300px;
        width: 350px;
        height: 150px;
        background-color: #f8f9fa;
        box-shadow: 2px 10px 20px 2px rgba(140, 147, 152, 0.296);
    }

    .items .content h4 {
        font-size: 1em;
        margin: 0 10px 20px;
    }

    .items i {
        margin-left: 5px;
    }

    #new-arrival {
        margin-top: 15px;
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .container-02 .shoes {
        min-width: 250px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-content: center;
        box-sizing: border-box;
        border: 1px solid rgb(211, 211, 211);
        background-color: white;
    }

    .shoes img {
        width: 250px;
        height: 200px;
    }

    .shoes .names {
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .price {
        max-width: 210px;
        display: flex;
        justify-content: space-evenly;
    }

    .container-02 h1 {
        font-size: 25px;
        text-align: center;
        width: 100%;
        text-transform: uppercase;
    }

    /* productdisplay page */
    .header {
        background-image: url("./images/productimg-01.jpg");
        height: 300px;
        background-position: center;
        background-size: cover;
        position: relative;
    }


    .display-prod {
        min-width: 100%;
        width: 900px;
        height: 100dvh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .container-03 {
        min-width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* justify-content: space-between; */
        /* background-color: aqua; */
    }

    .display-prod .search {
        min-width: 300px;
        width: 320px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 0;
        /* margin-top: 50px; */
        /* background-color: #11a6fc; */
    }

    .mens h1 {
        text-align: center;
        font-size: 20px;
        position: absolute;
        left: 0;
        margin: 0;
    }

    .searchbox input {
        padding: 15px;
        min-width: 300px;
    }

    .varites {
        width: 200px;
    }

    .display-prod .product-info {
        width: 95%;
        height: auto;
        margin: 50px 0;
        display: flex;
        flex-wrap: wrap;
        /* align-content: center; */
        justify-content: center;
        /* background-color: #ff6674; */
    }

    .product-info .information {
        margin: 0 0 0 20px;
        box-sizing: border-box;
        width: 400px;
        height: auto;
    }

    .formemail form button {
        position: absolute;
        right: 37px;
        top: 20px;
        padding: 16px;
        width: 80px;
        text-align: center;
        text-transform: uppercase;
        background: #1e272e;
        color: #e2352f;
    }

    .para {
        margin: 0 0 0 10px;
        min-width: 300px;
        width: 350px;
        height: auto;
    }

    .para h3 {
        font-size: 1.3em;
    }

    .para p {
        /* margin: 4px; */
        padding: 2px;
        font-size: 1em;
        line-height: 1.8em;
        font-family: sans-serif;
        color: #959499;
        text-align: left;
    }

    .information .discripitions :nth-child(2) {
        font-size: 18px;
        line-height: 2rem;
        color: #959499;
    }

    .product-info .productshow {
        width: 300px;
        height: auto;
        border: 1px solid #bbb9b9;
    }

    .product-info img {
        width: 310px;
        height: auto;
    }

    /* mens page */

    .menspage {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        gap: 10px;
        max-width: 100%;
        width: 100%;
        height: 60vh;
        background: url('images/mens-bannerimg01.jpg') no-repeat center/cover;
        position: relative;
    }

    .menspage div {
        position: absolute;
        width: 100%;
        /* top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

    .menspage .menshead h1 {
        text-align: center;
        color: white;
        font-size: 2em;
        font-style: italic;
    }

    .menshead h1 span {
        color: red;
        font-size: 2.5em;
    }

    .mens-shoes {
        display: flex;
        width: 100%;
        height: 100vh;
        margin-top: 20px;
        /* background-color: aqua; */

    }

    .mens-shoes .gridcontainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-auto-rows: minmax(200px, auto);
        gap: 15px;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

}