* {
    box-sizing: border-box;
}

/* 
::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background:  #020024;
    background:  linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 10px;
    border: 2px solid #f1f1f1;
} */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url("./images/productimg-01.jpg");
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.header::before {
    position: absolute;
    content: "";
    /* background-color: #50a1f2aa; */
    /* opacity: 0.8; */
    width: 100%;
    height: 500px;
}

.mens {
    display: inline;
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50% -50%);
    color: white;
    font-size: 25px;
}

.navbar {
    width: 100%;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: space-evenly;
}

.menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.banner {
    background-image: url("./images/banner-main.jpg");
    min-width: 100%;
    height: 95vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.details {
    width: 700px;
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 40%;
    right: 5%;
    text-transform: uppercase;
}

.details h4:first-child {
    animation: focus-in-contract-bck 1s cubic-bezier(.25, .46, .45, .94) both
}

.details h2:nth-child(2) {
    animation: focus-in-contract-bck 1s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 0.5em;
        transform: translateZ(300px);
        filter: blur(12px);
        opacity: 0;
        transition-duration: 1s;
    }

    100% {
        transform: translateY(-12px);
    }
}


.details h4 {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin: 10px;
}

.details h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem;
    line-height: 1.3;
    color: white;
}

.btn :first-child {
    background-color: white;
    text-decoration: none;
    color: #ff679d;
    width: 80px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    margin: 0 10px;
}

.btn :last-child {
    background-color: #11a6fc;
    text-decoration: none;
    color: white;
    width: 80px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
}

.logo {
    margin-left: 100px;
    font-size: 40px;
    color: white;
}

.lists {
    padding: 15px;
}

.links {
    display: flex;
    list-style-type: none;
    margin-top: 35px;
}

.links li {
    margin-top: 12px;
    padding: 15px;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    text-transform: capitalize;
}

.btn01 {
    height: 50px;
    margin-top: 70px;
}

.btn01 i {
    margin-left: 20px;
}

.btn01 .loginbtn {
    background: linear-gradient(to bottom, #11a6fc, #11a6fc);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding: 8px;
    margin: 5px;
    border-radius: 6px;
    color: white;
    font-size: 18px;
    width: 120px;
    cursor: pointer;
}


/* signup page style */


.signup {
    position: absolute;
    position: fixed;
    top: 0;
    width: 100%;
    height: 95vh;
    /* background-color: #f5bb789b; */
}

.signupcontent {
    margin: 200px auto;
    background-image: url("./images/signup-img.jpg");
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 450px;
    display: flex;
    /* justify-content: center; */
}

.signupcontent::before {
    content: "";
    position: absolute;
    background-color: #696c6ca9;
    width: 400px;
    height: 450px;
}

.signupcontent form {
    width: 400px;
    height: 450px;
    position: relative;
}

.signupcontent label {
    display: block;
    color: white;
    padding: 5px;
    margin: 0 50px;
    font-size: 20px;
}

.signupcontent input {
    width: 300px;
    padding: 8px;
    border: none;
    margin: 10px 50px;
    background-color: transparent;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.signupcontent input:focus {
    outline: none;
    color: white;
    font-size: 14px;
}

.signupcontent form h1 {
    text-align: center;
}

.signupcontent .heading span {
    color: white;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

#signupbtn {
    padding: 8px;
    margin: 40px 0 0 50px;
    width: 320px;
    background-color: #11a6fc;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

/* login page style */

.login-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    /* background-color: #f5bb789b; */
}

.logincontent {
    background-image: url(images/banner-01.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 200px auto;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
}

.logincontent::before {
    content: "";
    position: absolute;
    background-color: #696c6c5a;
    width: 400px;
    height: 450px;
}

.logincontent form {
    position: relative;
    width: 350px;
    height: 450px;
    /* background-color: #a19fa0; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.logincontent form h1 {
    text-align: center;
}

.heading {
    position: relative;
}

.logincontent .heading span {
    color: white;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.logincontent label {
    display: block;
    color: white;
    padding: 5px;
    margin: 0 30px;
    font-size: 22px;
}

.logincontent input {
    width: 300px;
    padding: 8px;
    border: none;
    margin: 10px 30px;
    background: transparent;
    font-size: 16px;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.logincontent input[title] {
    pointer-events: none;

}

.logincontent input:focus {
    outline: none;
    color: white;
    font-size: 18px;
}

.logincontent button {
    display: block;
    margin: 40px 0 0 30px;
    padding: 10px;
    width: 320px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: #11a6fc;
}


/* offer Section */
.offers {
    width: 100%;
    height: 15em;
}

.container {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    width: 100%;
}

.container .items {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
    width: 450px;
    height: 150px;
    background-color: #f8f9fa;
    box-shadow: 2px 5px 15px 2px rgba(140, 147, 152, 0.4);
}

.items i {
    margin: 15% 0;
}

.items .content {
    margin-top: 10px;
    width: 240px;
}

.content h4:last-child {
    color: rgb(140, 147, 152, 0.5);
    font-size: 18px;
}


/* new-arrival */

#new-arrival {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.container-02 {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    /* background-color: #ff679d; */
}

.container-02 h1 {
    font-size: 40px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.container-02 .shoes {
    width: 320px;
    height: 450px;
    box-sizing: border-box;
    border: 1px solid gainsboro;
    background-color: white;
    box-shadow: 2px 2px 30px 0px rgba(144, 141, 141, 0.132);
    transition-duration: 0.4s;
}

.shoes .names {
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.shoes .names span {
    color: white;
    width: 50px;
    text-align: center;
    background-color: #414b52;
    padding: 5px;
    font-size: small;
}

.shoes .names h5 {
    border-bottom: 1px solid gainsboro;
    padding: 10px;
    margin: 8px 0 10px 10px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;

}

.names a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.names h4 {
    color: #ff6674;
    padding-bottom: 5px;
    margin: 0;
}

.price {
    width: 250px;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.price ul {
    margin: 0;
}

.price .star {
    display: flex;
    gap: 12px;
    list-style-type: none;

}

.shoes:hover {
    transform: translateY(-10px);

}

/* display-prod */

.display-prod {
    max-width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    /* background-color: #11a6fc; */
}

.display-prod .search {
    width: 350px;
    height: 100vh;
    margin-top: 50px;
    /* background-color: #11a6fc; */
}

.searchbox {
    font-size: 22px;
}

.searchbox input {
    padding: 15px;
    width: 320px;
}

.varitesshoes li {
    list-style: none;
    padding: 5px;
    font-size: 20px;
    color: #8e8e8e;
}

.dislist li {
    list-style: none;
    padding: 5px;
    font-size: 20px;
    color: #8e8e8e;
}

.display-prod .product-info {
    min-width: 85%;
    height: 750px;
    margin: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* background-color: #ff6674; */
}

.product-info .productshow {
    min-width: 320px;
    height: auto;
    border: 1px solid #bbb9b9;
    /* background-color:aqua; */
    /* margin: 0 10px; */
}

.product-link {
    width: 300px;
    height: 400px;
}

.product-info img {
    width: 320px;
    height: auto;
}

.product-info .information {
    margin: 0 0 0 20px;
    box-sizing: border-box;
    width: 500px;
}

.information :first-child {
    font-size: 20px;
    margin: 20px 0;
}

.information :nth-child(3) {
    padding: 0;
}

.information .discripitions :first-child {
    font-size: 18px;
    color: #606782;
    text-transform: uppercase;
}

.information .discripitions :nth-child(2) {
    font-size: 20px;
    line-height: 2rem;
    color: #959499;
}

.formemail input {
    width: 300px;
    padding: 14px;
    background: #efeeee;
    border: none;
}

.formemail form {
    position: relative;
}

.formemail form button {
    position: absolute;
    right: 200px;
    top: 20px;
    padding: 15px;
    width: 100px;
    text-transform: uppercase;
    background: #1e272e;
    color: #e2352f;
}

.formemail input::placeholder {
    font-size: 16px;
    letter-spacing: 0.1rem;
}

.para {
    width: 80%;
    height: 300px;
}

.para p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: #959499;
}

.container-03 {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

/* mens page Style sheet*/

.menspage {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    max-width: 100%;
    width: 100%;
    height: 500px;
    background: url('images/mens-bannerimg01.jpg') no-repeat center/cover;
    position: relative;
}

.menspage::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 500px;
    background-color: #000b0c61;
}

.menspage div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menspage .menshead h1 {
    color: white;
    font-size: 4em;
    font-style: italic;
}

.menshead h1 span {
    color: red;
    font-size: 2em;
}

.mens-shoes {
    width: 100%;
    height: auto;
    margin-top: 20px;
    /* background-color: aqua; */

}

.mens-shoes .mensconatiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    height: auto;
    padding: 10px;
}

.menscard {
    cursor: pointer;
    width: 400px;
    border-radius: 10px;
    position: relative;
    height: 250px;
    background-image: url('images/casual-shoes.jpg');
    background-size: cover;
    transition: all 0.2s;
}

.menscard:hover {
    transform: scale(1.05);
}

.mensconatiner :nth-child(2) {
    width: 400px;
    height: 250px;
    background-image: url('images/formal-shoes.jpg');
    background-size: cover;
}

.mensconatiner :nth-child(3) {
    width: 400px;
    height: 250px;
    background-image: url('images/sports-shoe1.jpg');
    background-size: cover;
}

.shoebtn a {
    background: linear-gradient(to bottom, #11a6fc, #11a6fc);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 18px;
}

.shoes-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: auto;
    /* background-color: #11a6fc; */
    margin: 30px 0;
}

.shoes-cards #cards {
    max-width: 70%;
    height: auto;
    /* background-color: #606782; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.shoes-cards .card {
    position: relative;
    margin: 10px;
    padding: 10px;
    max-width: 280px;
    height: auto;
    border-radius: 10px;
    height: auto;
    background-color: rgba(217, 211, 211, 0.272);
    transition: transform 0.3s;
}

.shoes-cards .card:hover {
    transform: scale(1.05);
}

.card img{
    width: 100%;
    height: 280px;
    border-radius: 10px;
}

.card i{
    color: white;
    position: absolute;
    border-radius: 50%;
    padding:3px;
    top:85%;
    right: 20px;
    background-color: rgba(4, 177, 230, 0.821);
}